{% extends 'supply/base.html' %}
{% load static %}
{% block content %}
 

<body>
    <div class="overlay">
        <div class="hero-content">
            <div class = demand_post-container2>
                <h2 id = demand_post-container_h2>매물 정보</h2>
                        <form method = 'POST'>
                            {% csrf_token %}
                            <label for="post_title">제목</label>
                            <div class="input-button-group">
                                <input type="text" id="post_title" name="post_title" required placeholder="제목이 뭔가요">
                            </div>
                            <div class="input-button-group">
                                <div class = 'inputLabel'>
                                    <label for="house_type_code">유형선택</label>
                                    <div class="custom-select-wrapper">
                                        <select class = 'select_dropdown' id = 'house_type_code' name = 'house_type_code' required>
                                            <option value = '' disabled selected> 선택하시라구요</option>
                                            <option value = 1>월세</option>
                                            <option value = 2>전세</option>
                                        </select>
                                    </div>
                                </div>
                                <div class = 'inputLabel'>
                                    <label for="house_transaction_code">거주형태선택</label>
                                    <div class="custom-select-wrapper">
                                        <select class = 'select_dropdown' id = 'house_transaction_code' name = 'house_transaction_code' required>
                                            <option value = '' disabled selected> 선택하시라구요</option>
                                            <option value = 1>아파트</option>
                                            <option value = 2>빌라</option>
                                            <option value = 3>단독주택</option>
                                            <option value = 4>다가구주택</option>
                                            <option value = 5>오피스텔</option>
                                        </select>
                                    </div>
                                </div>
                                <div class = 'inputLabel'>
                                    <label for="house_location_code">위치는요</label>
                                    <div class="custom-select-wrapper">
                                        <select class = 'select_dropdown' id = 'house_location_code' name = 'house_location_code' required>
                                            <option value = '' disabled selected> 선택하시라구요</option>
                                            <option value = 1>강남구</option>
                                            <option value = 2>강동구</option>
                                            <option value = 3>강북구</option>
                                            <option value = 4>강서구</option>
                                            <option value = 5>관악구</option>
                                            <option value = 6>광진구</option>
                                            <option value = 7>구로구</option>
                                            <option value = 8>금천구</option>
                                            <option value = 9>노원구</option>
                                            <option value = 10>도봉구</option>
                                            <option value = 11>동대문구</option>
                                            <option value = 12>동작구</option>
                                            <option value = 13>마포구</option>
                                            <option value = 14>서대문구</option>
                                            <option value = 15>서초구</option>
                                            <option value = 16>성동구</option>
                                            <option value = 17>성북구</option>
                                            <option value = 18>송파구</option>
                                            <option value = 19>양천구</option>
                                            <option value = 20>영등포구</option>
                                            <option value = 21>용산구</option>
                                            <option value = 22>은평구</option>
                                            <option value = 23>종로구</option>
                                            <option value = 24>중구</option>
                                            <option value = 25>중랑구</option>                                    
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class = 'cta-btn'>등록!!!!!</button>
                        </form>
                    
                </div>

                {% endblock %}
        </div>
    </div>
