{% extends 'supply/base.html' %}

{% block title %}
    내 매물 목록
{% endblock %}

{% block content %}
<body>
    <main class="overlay">
        <div class="demand_post-container">
            <h2 id = 'supply'>{{ listings.post_title }}</h2>
                <div class = 'table-container3'>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>매물 ID</th>
                                <th>매물 제목</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in my_listings %}    
                            <tr>                                
                                <td>
                                    <a href="{% url 'listing_detail' post_id=i.id %}">
                                        {{ i.id }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'listing_detail' post_id=i.id %}">
                                        {{ i.post_title }}
                                    </a>
                                </td>
                            </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </h2>
        </div>
    </main>
</body>
{% endblock %}
